# Archivos de entorno
.env
.env.*

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Directorio virtual environment
venv/
ENV/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db